#OS junk files
[Tt]humbs.db
*.DS_Store

README.html
md/*.html
node_modules/
built/
coverage/
*.gliffy
docs/
src/*.sublime*
test.html
npm-debug.log
*.sublime-project
*.sublime-workspace

.vscode/launch.json
